<!--TODO: add comments to testcases-->

<test-component [customViewCss]='["css/custom1.css"]'></test-component>

<test2-component [customViewCss]='["css/custom1.css"]'></test2-component>
<test2-component [customViewCss]='["css/custom1.css", "css/custom2.css"]'></test2-component>

<div [customViewCss]='["css/custom2.css"]'>
    <h2>Hello Div!</h2>
</div>